{% if proxy is defined %}
export HTTPS_PROXY="{{proxy}}"
export HTTP_PROXY="{{proxy}}"
export http_proxy="{{proxy}}"
export https_proxy="{{proxy}}"
{% endif %}
{% if no_proxy is defined %}
export no_proxy="{{no_proxy}}"
{% endif %}
