LoadPlugin logfile
LoadPlugin cpu
LoadPlugin load
LoadPlugin memory
LoadPlugin df
LoadPlugin interface
LoadPlugin uptime
LoadPlugin write_http
LoadPlugin python
<LoadPlugin python>
    Globals true
</LoadPlugin>

Interval 60

<Plugin logfile>
  LogLevel info
  File "/var/log/collectd.log"
  Timestamp true
</Plugin>

<Plugin cpu>
  ValuesPercentage true
</Plugin>

<Plugin memory>
  ValuesAbsolute true
  ValuesPercentage true
</Plugin>

<Plugin df>
  MountPoint "/"
  ValuesAbsolute true
  ValuesPercentage true
</Plugin>

<Plugin interface>
  Interface "eth0"
  IgnoreSelected false
</Plugin>

<Plugin python>
  ModulePath "/opt/collectd-plugins/"
  LogTraces false
  Interactive false
  Import "b2-eclmon"
</Plugin>

<Plugin write_http>
{% for h in collectors %}
  <Node "{{h.id}}">
    URL "{{h.url}}"
    User "{{h.user}}"
    Password "{{h.pass}}"
    VerifyHost false
    VerifyPeer false
    Format "JSON"
    BufferSize 1024
    StoreRates true
  </Node>
{% endfor %}
</Plugin>

